:root {
    --primary-color: #656CEE;
    --text-color-1: #333E63;
    --text-color-2: #8498B4;
    --text-color-3: #A5AAB7;
    --bg-color-5: #EAF2FF;
    --font-size-lg: 1.185rem;
    --font-size-md: 0.922rem;
    --font-size-sm: 0.79rem;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    line-height: 1.5;
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
}

button, a[type='button'], input[type='button'] {
    border: none;
    outline: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

input, textarea {
    outline: none;
    border: none;
    background: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button
 {
    display: none;
    -webkit-appearance: none;
}
input[type="date"]::-moz-calendar-picker-indicator {
    display: none;
}
input[type="date"]::-ms-clear {
    display: none;
    height: 0;
    width: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-inner-spin-button
 {
    -webkit-appearance: none;
    display: none;
}
input[type="time"]::-moz-calendar-picker-indicator {
    display: none;
}
input[type="time"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.container {
    max-width: 640px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: auto;
    margin-left: auto;
}

#mainHeader {
    padding-top: 2rem;
    padding-bottom: 4rem;
    background: #333677;
    color: white;
}
#mainHeader .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

#mainHeader h1 {
    font-size: 1.25rem;
}
#mainHeader .navbar-toggler-btn, #mainHeader .avatar-wrapper {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#mainHeader .navbar-toggler-btn {
    flex-direction: column;
    gap: 2px;
    background: #ffffff;
}

#mainHeader .navbar-toggler-btn .bar {
    height: 2.81px;
    width: 12.64px;
    background: var(--primary-color);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

#mainHeader .avatar-wrapper {
    background: var(--bg-color-5);
}
#checkoutSection {
    background: #ffffff;
    color: #333333;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    margin-top: -2rem;
    position: relative;
    padding-bottom: 4rem;
}

#checkoutSection header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

#checkoutSection header h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333E63;
}

#checkoutSection header p {
    font-weight: 500;
    color: #A5AAB7;
}

#checkoutSection .header-inner-actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: var(--font-size-sm);
    color: var(--font-size-sm);
}

#checkoutSection .header-inner-action {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#checkoutSection .header-inner-action-icon-wrapper {
    width: 1.75rem;
    height: 1.75rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(72.92% 72.92% at 100% 12.5%, #969BFF 0%, var(--primary-color) 100%);
    border: 1px solid #f2f2f2;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

#carSpot {
    height: 1.75rem;
    border: 1px solid #EFEFEF;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    padding-left: 0.5rem;
    outline: none;
    transition: ease-in-out .5s;
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    -ms-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
}

#checkoutSection .actions {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    background: #F4F4F4;
    padding: 1.5rem 0;
    margin-bottom: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

#checkoutSection .action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: var(--font-size-sm);
    font-weight: 700;
    color: var(--text-color-3);
}

.action-1 {
    grid-column: span 1 / span 1;
}
.action-2 {
    grid-column: span 1 / span 1;
}
.action-3 {
    grid-column: span 1 / span 1;
}
#checkoutSection .action:nth-of-type(even) {
    border-left: 0.5px solid #E8E8E8;
    border-right: 0.5px solid #E8E8E8;
}

#checkoutSection .action .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--text-color-3);
    color: #ffffff;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#parkinglotOrderForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.form-row {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.form-control, .custom-select-wrapper {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border: 1px solid #EFEFEF;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 3rem;
    color: #9695A8;
    width: 100%;
    transition: ease-in-out .5s;
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
    -ms-transition: ease-in-out .5s;
    -o-transition: ease-in-out .5s;
}

.form-control:hover,
.form-control:focus,
.form-control:active,
.custom-select-wrapper:hover,
#carSpot:hover, #carSpot:focus {
    color: #3277D8;
    border: 1px solid #3277D8;
}

.form-control:focus, 
.form-control:active, 
.custom-select-wrapper:has(input[type='checkbox']:checked),
.park-input-container:has(input:focus),
#carSpot:focus, 
#carSpot:active {
    -webkit-box-shadow: 0px 1px 3px 0px #3277D8;
    -moz-box-shadow: 0px 1px 3px 0px #3277D8;
    box-shadow: 0px 1px 3px 0px #3277D8;
}

.form-label {
    display: block;
    margin-bottom: 0.75rem;
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: #203D65;
}

.parking-time-form-row {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; */
    /* -webkit-box-align: start;
    -ms-flex-align: start; */
    align-items: start;
    grid-gap: 0.75rem;
}

.parking-date-form-group {
    grid-column: span 1 / span 1;
}
.park-start-form-group {
    grid-column: span 1 / span 1;
}
.park-end-form-group {
   grid-column: span 1 / span 1;
}
.park-input-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    overflow: hidden;
}

#parkStart, #parkingDate, #parkEnd {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    text-align: right;
}

.custom-select-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    font-size: var(--font-size-sm);
}
.custom-select-wrapper .price {
    font-size: var(--font-size-lg);
    font-weight: 300;
}
.custom-select {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: max-content;
}

.horizontal-scroll {
    padding: 2px 5px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.horizontal-scroll::-webkit-scrollbar{
    display: none;
}

#parkinglotOrderForm footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: #F3F4FF;
    padding: 2rem 0.5rem;
}

.submit-btn {
    padding: 0.5rem 1.25rem;
    background: radial-gradient(100% 100% at 50% 0%, #FFBA82 0%, #FF8B2D 100%);
    color: #ffffff;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
    font-size: var(--font-size-md);
    font-weight: 500;
    text-transform: capitalize;
}

.submit-btn span {
    font-weight: 700;
    font-size: var(--font-size-lg);
}

.submit-btn:hover, .submit-btn:focus {
    box-shadow: 0 0 4px 0px var(--primary-color);
}

.scanner {
    padding: 0.5rem 1.25rem;
    font-size: var(--font-size-md);
    background-color: transparent;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.scanner:hover, .scanner:focus {
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.6);
}

@media screen and (max-width: 378.98px) {
    .parking-time-form-row {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .parking-date-form-group {
        grid-column: span 2 / span 2;
    }
    #parkinglotOrderForm footer {
        flex-direction: column;
    }
    .submit-btn, .scanner {
        width: 100%;
    }
}


@media screen and (max-width: 320px) {
    #checkoutSection .actions {
        padding: 0.5rem 0;
    }
    #checkoutSection .action {
        flex-direction: column;
        gap: 0.25rem;
    }
    #checkoutSection .header-inner-actions {
        flex-direction: column;
        align-items: start;
    }
    .park-start-form-group, .park-end-form-group {
        grid-column: span 2 / span 2;
    }
}